
* {
    box-sizing: border-box;
}
body {
    margin: 0;
    width: 100%; 
    padding: 0;
    min-width: 100%; 
}
img {
    height: 100vh;
    width: 100%; 
    display: block;
}
.image-container {
    width: 30vw; 
    position: relative;
}
.text-overlay {
    position: absolute;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    font-size: 40px;
    padding: 20px;
    top: 20%;
    left: 0;
    width: 100%; 
    text-align: center;
}